<h1><%=@job.title%></h1>
  <label>description:</label>
  <%=simple_format(@job.description)%>
  <%=@job.wage_lower_bound%> <br />
  <%=@job.wage_upper_bound%><br />
  <%=@job.contact_email%><br />
  <%=@job.created_at%><br />
  <%=@job.wage_lower_bound%><br />
  <%=link_to('Back',:back,:class=>"btn btn-warning")%>
